/* Sign In */

.sign-up-background{
    background: url("./assets/bg-2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px) {
    .sign-up-background{
        border-top-left-radius: 8rem;
        border-bottom-left-radius: 7rem;
    }    
}