@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root{
  --primary-color: #27374D;
  --secondary-color: #DDE6ED;
  --tertiary-color: #526D82;
  --quad-color: #9DB2BF;
}


/* Generic CSS */

/* Width */

.width-10{
  width: 10%;
}

.width-30{
  width: 30%;
}

.width-70{
  width: 70%;
}

.width-90{
  width: 90%;
}

/* height */

.height-10{
  height: 10%;
}

.height-30{
  height: 30%;
}

.height-70{
  height: 70%;
}

.height-90{
  height: 90%;
}

/* Input Field */
.input-field{
  padding: 0.5rem 1rem;
  border-radius: 6px;
  outline: 1px solid var(--primary-color) ;
}

/* Button */
.btn{
  padding: 0.5rem 1rem;
  font-weight: 600;
  border-radius: 6px;
  transition: ease-in-out;
  transition-duration: 300ms;
  transition-delay: 75ms;
  box-shadow: 2px 4px 4px 2px rgba(0,0,0, 0.2);
}

.active-btn{
  color: white;
  background-color: var(--tertiary-color);
}

.disabled-btn{
  color: var(--quad-color);
  background-color: var(--secondary-color);
}

.btn:hover{
  transform: scale(0.98);
}

